
@font-face {
  font-family: Doctor-Who;
  src: url(../fonts/Doctor-Who.ttf);
}

.titulo {
  color: rgb(0, 0, 0);
}
h1 {
  font-family: Doctor-Who;
}
h3 {
  font-family: Doctor-Who;
}

#temporada{
    margin-top: 25px;
    margin-left: 555px;
    word-spacing: 8px;
    border-spacing: 1px;
}

.temporadas{
  margin-top: 75px;
  margin-left: 555px;
  word-spacing: 15px;
  border-spacing: 10px;
}

body{
  background-image: url(../img/Wepong\ Angel.gif);
  background-attachment: fixed;
  background-size: cover;
  font-family: Doctor-Who;
  font-size: 25px;
  color: aliceblue

}

footer.footer{
  position: absolute;
  bottom: 0;
  width: 170%;
}

p.copy{
  text-align: center;
  width: 60%;
}
