
@font-face {
    font-family: Doctor-Who;
    src: url(../fonts/Doctor-Who.ttf);
  }

body {
  background-image: url(../img/fondo_alt.webp);
  background-attachment: fixed;
  background-size: cover; 
}

.matt{
    float: left;
    margin-right: 15px;
    opacity: 0.55;
  }
h2 {
    color: rgb(199, 204, 219);
}
#news{
    text-align: center;
    font-size: 50px;
    color: rgb(163, 179, 233);
}

#articulo1
  {
    width: 80%;
    margin: 10px auto;
    color: rgb(163, 179, 233);
    padding: 10px;
    text-align: justify;
    line-height: 22px;
  }
  
#articulo2 {
      width: 90%;
      margin: 10px;
      padding: 10px;
      text-align: justify;
      line-height: 22px;
      color: rgb(163, 179, 233);
  }

